@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
  border: 0;

  font-size: 62.5%;

  color: white;

  font-family: "Roboto", sans-serif;
}

/* logo spotify */

.logo-spotify {
  height: 3rem;
  width: auto;
}

/* header + nav bar */

header {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1.5rem;

  position: fixed;
  top: 0;

  width: 100vw;
}

header #nav-bar {
  width: 60vw;

  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #nav-bar ul {
  display: flex;

  gap: 2rem;

  font-size: 2.3rem;
  list-style: none;
}

header #nav-bar ul li:nth-child(3) {
  border-right: 1px solid white;
  padding-right: 2rem;
}

/* main */

main {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: url("../public/showcase.webp") center center/cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: color;
}

main #show-case {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main #show-case h2 {
  font-size: 5.5rem;

  margin-bottom: 1rem;
}

main #show-case p {
  font-size: 1.3rem;

  margin-bottom: 0.8rem;
}

main #show-case button {
  background-color: #1ed760;

  padding: 1rem;
  width: 25rem;

  text-transform: uppercase;

  border-radius: 2rem;

  font-size: 1.2rem;
}
